<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}SERVI{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <meta charset="utf-8">
</head>
<body>
    <header>
        <div>
            <ul>
                <li><a href="/">Relatório</a></li>
                <li>Adicionar Recursos
                <ul>
                    <li><a href="/admin/core/pessoa/add/">Adicionar Pessoa</a></li>
                    <li><a href="/admin/core/profissao/add/">Adicionar Grupo Caseiro</a></li>
                    <li><a href="/admin/core/profissao/add/">Adicionar Profissão</a></li>
                    <li><a href="/admin/core/localidade/add/">Adicionar Bairro</a></li>
                </ul>
                </li>
                <li><a href="/admin">Acessar painel administrativo</a></li>
            </ul>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>