{% extends "base.html" %}

{% block title %}Relatórios{% endblock %}

{% block content %}
<table class="dataTable" id="tabela-relatorio">
    <thead data-order='[[ 1, "asc" ]]' data-page-length='120'>
        <tr>
            <th>É vinculado</th>
            <th>Nome (clique para mais detalhes)</th>
            <th>Data de nascimento</th>
            <th>Idade</th>
            <th>Grupo caseiro</th>
        </tr>
        <tbody>
            {% for pessoa in pessoas %}
            <tr>
                <td>{{pessoa.discipulo_vinculado}}</td>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.data_nascimento}}</td>
                <td>Calculo de idade</td>
                <td>{{pessoa.grupo_caseiro.nome}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
<script>
// TODO Aplicar linha com mais detalhes de informações https://datatables.net/examples/api/row_details.html
$(document).ready( function () {
    $('#tabela-relatorio').DataTable({
        responsive: true,
        fixedHeader: true,
        dom: 'Bfrtip',
        buttons: [
        {
            extend: 'copy',
            text: 'Copiar para Área de transferência'
        }, 'csv', 'excel', 'pdf', 'print'
        ]
    });
});
</script>
{% endblock %}